.wc-kevin-bank {
    padding: 0.5rem;
    border-bottom: 1px solid #e2e2e2;
}

.wc-kevin-bank ~ .wc-kevin-bank {
    margin-top: 1rem;
}

.wc-kevin-bank label {
    display: block;
    margin: 0;
}

.wc-kevin-bank input {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.5rem 0 0.5rem;
}

.wc-kevin-bank img {
    display: inline-block;
    vertical-align: middle;
    height: 48px;
    width: auto;
    margin: 0 0.5rem 0 0.5rem;
}

.wc-kevin-banks-list ~ .wc-kevin-banks-description {
    margin-top: 1rem;
}

.card-text-block{
    display:inline-block;
}

.wc_payment_method.payment_method_getkevin label img {
    max-height: 24px;
}